*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, sans-serif;
}
header{
    display: flex;
    background:black;
    align-items: center;
    justify-content:space-between;
    color:white;
    padding: 20px 80px;

}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
}
a{
    color: white;
    text-decoration: none;
}
button{

    background:#d4a15b;
    color:white;
    border:none;
    padding:12px 22px;
    cursor:pointer;

}
.hero{

    display:flex;
    padding:80px;
    justify-content:space-between;
    min-height:90vh;
    background:black;
    background:black;
    align-items:center;

}
.hero-right img{

    width:500px;

}
.hero-left h1{

    font-size:60px;
    margin:20px 0;

}
.hero-left p{

    width:450px;
    line-height:30px;

}
.hero-buttons{

    margin-top:30px;

}
.hero-buttons{

    display:flex;
    gap:20px;

}
.dishes{

    padding:80px;

}
.dishes h2{

    text-align:center;

}
.dishes h4{

    text-align:center;

}
.card-container{

display:grid;

grid-template-columns:repeat(4,1fr);

}
.card-container{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}
.card{

background:white;

padding:15px;

border-radius:10px;

}
.card img{

width:100%;

border-radius:10px;

}
.card{

box-shadow:0px 0px 10px rgba(0,0,0,.2);

}
.about{

    display:flex;

    justify-content:space-between;

    align-items:center;

}
.about{

    padding:100px 80px;

}
.about-left img{

    width:450px;

}
.about-right{

    width:500px;

}
.about-right h2{

    font-size:45px;

    margin:20px 0;

}
.about-right p{

    line-height:30px;

    color:gray;

}
.about-right button{

    margin-top:30px;

    padding:12px 30px;

    background:#c89b3c;

    color:white;

    border:none;

}
.hero{

display:flex;

}
.hero{

display:flex;

justify-content:space-between;

}
.hero{

display:flex;

justify-content:space-between;

align-items:center;

}
.hero{

min-height:100vh;

}
.hero{

padding:0 80px;

}
.left{

width:50%;

}
.right{

width:50%;

}
.right img{

width:100%;

}
.left h1{

font-size:70px;

line-height:80px;

}
.left button{

padding:15px 35px;

background:#d6a04d;

border:none;

color:white;

margin-top:30px;

cursor:pointer;

}
