.radial-box {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            background: radial-gradient(circle, #e6ae72, #e72214);
            display: flex; align-items: center; justify-content: center;
            color: white; font-weight: bold; font-size: 20px;
}