.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px;
}

.pagination a{
    text-decoration: none;
    padding: 12px 25px;
    background: #eee;
    color: black;
    border-radius: 10px;
}

.pagination .active{
    background: rgb(83, 208, 249);
    color: white;

}

@media (max-width:500px){
    .pagination{
        flex-wrap: wrap;
    }
}

body:hover{
    background: #121720;
}
.pagination  a{
    background: #1f2937;
    color: white;
}