* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(117, 24, 24);
    padding: 40px;

}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.images {
    overflow: hidden;
    border: solid 5px ;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: white;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}