/* .container{
    display: flex;
    gap: 20px;

}

.box{
    flex: 1;
    padding: 40px;
    background: red;
    color: white;

}

@media (max-width: 600px) {
    .container{
        flex-direction: column;
        
    }
}
.box{
    background: blue;
} */

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

@media(max-width:900px){
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:500px){
    .grid{
        grid-template-columns: 1fr;
    }
} 