nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
@media(max-width:600px){
    nav{
        flex-direction: column;

    }
    ul{
        flex-direction: column;
        margin: 20px 0;
    }
}