.name { 
    color: red; 
}


.hex { 
    color: #ff0000; 
}

.rgb {
     color: rgb(255, 0, 0); 
}
        
.rgba {
     background-color: rgba(0, 0, 255, 0.3); padding: 10px; 
} /* With opacity */
        
.hsl {
     color: hsl(120, 100%, 25%); 
}
  