.box{
    width: 150px;
    height: 150px;
    background: #bd0000;
    margin: 50px;
    transition: 2s;
   

}
.box:hover{
    transform: translatey(-100px); 
    transform: rotatex(100deg);
    transform: rotate3d();
    transform: scale(1.5);
    transform: skewy(20deg);
    transform-origin: top left;
    transform: rotate(360deg) scale(1.5); 


}

.btn {
    width: 50px;
    height: 25px;
    margin: 50px;
    background: lightcoral;
    transition: 2s;
}

.btn:hover{
    transform-origin: top right;
    transform: translatey(50px) rotate(360deg)  translate(100px) scale(2.5);
}
img {
    margin: 50px;
    height: 200px;
    width: 200px;
    transition: 1s;
}

img:hover{
    transform: rotate(360deg) scale(1.5);
   
}