/* .box {
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.5s;

}

.box:hover {
    background: greenyellow;
    transform: translateX(-20px);
} */


/* .btn {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background: orange;
    transform: translate3d(30px , 20px , 40px);
} */


.card {

    width: 200px;
    height: 120px;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.5s;
}

.card:hover {
    
   background: blue;
   width: 150px;
}

